<!DOCTYPE html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>404 Not found!</title>
  <link th:href="@{/error/403/css/style.css}" rel="stylesheet" />

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <div class="message" dir="rtl">آدرس نادرست</div>
  <div class="message2" dir="rtl">صفحه ای با این لینک وجود ندارد</div>
  <div class="container">
    <div class="door-frame">
      <div class="door">
        <div class="rectangle">
      </div>
        <div class="handle">
          </div>
        <div class="window">
          <div class="eye">
          </div>
          <div class="eye eye2">
          </div>
          <div class="leaf">
          </div>
        </div>
      </div>
    </div>
    <a class="neon" href="/">بازگشت</a>
  </div>
</body>
<!-- partial -->

</body>
</html>
