<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/panel/assets/images/favicon-32x32.png" type="image/png"/>
    <!--plugins-->
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet"/>
    <link href="/panel/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>
    <link href="/panel/md.bootstrappersiandatetimepicker/dist/mds.bs.datetimepicker.style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
    <script type="text/javascript"
            src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>


    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>Pm Register</title>
</head>

<body>


<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-hall mb-3">
            <div class="breadcrumb-title pe-3">Pm</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">تعریف Pm</li>
                    </ol>
                </nav>
            </div>

        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-header py-3 bg-transparent" align="hall">
                        <h5 class="mb-0"
                            th:text="${'فرم ثبت Pm برای ' + location.locationCategory.target + ' ' + location.name}"></h5>
                    </div>

                    <div class="card-body">
                        <div class="border p-3 rounded">
                            <form class="row g-3" th:action="@{/center/location/catalog/register}"
                                  th:object="${catalogForm}"
                                  method="POST">

                                <div th:if="${not update}" class="mb-3">
                                    <label class="form-label">انتخاب Pm</label>
                                    <label>
                                        <select class="single-select" th:field="*{pmInterfaceId}">
                                            <option th:each="pmInterface : ${pmInterfaceList}"
                                                    th:value="${pmInterface.id}"
                                                    th:text="${pmInterface.name + ' با دوره تکرار ' + pmInterface.period}"></option>
                                        </select>
                                    </label>
                                </div>

                                <div class="mb-3">
                                    <div class="form-label">
                                        <label>اولین سررسید :</label>
                                        <input required="required" type="text" data-jdp
                                               data-jdp-miladi-input="miladi_date" data-jdp-min-date="today"
                                               placeholder="نمایش تاریخ از امروز"/>
                                    </div>
                                </div>

                                <input type="hidden" th:field="*{nextDue}" id="miladi_date"/>

                                <input type="hidden" name="locationId" th:value="${location.id}"/>

                                <div class="mb-3">
                                    <label class="form-label">کارتابل پیش فرض</label>
                                    <select class="single-select" th:field="*{defaultPersonId}">
                                        <option th:each="person : ${defaultPersonList}"
                                                th:value="${person.id}" th:text="${person.name}"></option>
                                    </select>
                                </div>

                                <div th:if="${update}">
                                    <input th:checked="${catalogForm.enabled}" th:field="*{enabled}"
                                           type="checkbox"/>
                                    <span></span>
                                </div>

                                <div class="col">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#exampleWarningModal">ثبت
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleWarningModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content bg-warning">
                                                <div class="modal-header border-dark">
                                                    <h5 class="modal-title text-dark">همکار گرامی، نظر به اهمیت ثبت
                                                        اطلاعات صحیح و قابل استناد، موارد ذیل را رعایت فرمایید.</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    <p>خودداری از ثبت وظایف با اقدامات مشابه وظایف قبلی</p>
                                                    <p>خودداری از ثبت رخدادها در قالب وظیفه و ثبت آن ها در بخش
                                                        مربوطه</p>
                                                </div>
                                                <div class="modal-footer border-dark">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                                        بستن
                                                    </button>
                                                    <button type="submit" class="btn btn-dark">ثبت وظیفه جدید</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->

    </main>
    <!--end page main-->


    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->

<script src="/panel/assets/js/fileSizeValidation.js"></script>
<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<!--app-->
<script src="/panel/assets/js/app.js"></script>


<script>
    jalaliDatepicker.startWatch({
        minDate: "attr",
        maxDate: "attr"
    });
    document.querySelector("[data-jdp-miladi-input]").addEventListener("jdp:change", function (e) {
        var miladiInput = document.getElementById(this.getAttribute("data-jdp-miladi-input"));
        if (!this.value) {
            miladiInput.value = "";
            return;
        }
        var date = this.value.split("/");
        miladiInput.value = jalali_to_gregorian(date[0], date[1], date[2]).join("-")
    });

    function jalali_to_gregorian(jy, jm, jd) {
        jy = Number(jy);
        jm = Number(jm);
        jd = Number(jd);
        var gy = (jy <= 979) ? 621 : 1600;
        jy -= (jy <= 979) ? 0 : 979;
        var days = (365 * jy) + ((parseInt(jy / 33)) * 8) + (parseInt(((jy % 33) + 3) / 4))
            + 78 + jd + ((jm < 7) ? (jm - 1) * 31 : ((jm - 7) * 30) + 186);
        gy += 400 * (parseInt(days / 146097));
        days %= 146097;
        if (days > 36524) {
            gy += 100 * (parseInt(--days / 36524));
            days %= 36524;
            if (days >= 365) days++;
        }
        gy += 4 * (parseInt((days) / 1461));
        days %= 1461;
        gy += parseInt((days - 1) / 365);
        if (days > 365) days = (days - 1) % 365;
        var gd = days + 1;
        var sal_a = [0, 31, ((gy % 4 == 0 && gy % 100 != 0) || (gy % 400 == 0)) ? 29 : 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
        var gm
        for (gm = 0; gm < 13; gm++) {
            var v = sal_a[gm];
            if (gd <= v) {
                break;
            }
            gd -= v;
        }
        if (gd < 10) {
            gd = gd.toString()
            gd = ("0" + gd);
        }
        if (gm < 10) {
            gm = gm.toString()
            gm = ("0" + gm);
        }
        return [gy, gm, gd];
    }

    /* Below is a js demo | you don't need to use */

</script>


</body>

</html>