<!doctype html>
<html lang="en" class="semi-dark" dir="rtl">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/panel/assets/images/favicon-32x32.png" type="image/png" />
  <!-- Bootstrap CSS -->
  <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet" />
  <link href="/panel/assets/css/style.css" rel="stylesheet" />
  <link href="/panel/assets/css/icons.css" rel="stylesheet">
  <link href="/panel/assets/css/roboto.css" rel="stylesheet">
  <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

  <!-- loader-->
	<link href="/panel/assets/css/pace.min.css" rel="stylesheet" />

  <title>تغییر کلمه عبور</title>
</head>

<body class="bg-reset-password">

  <!--start wrapper-->
  <div class="wrapper">
    
       <!--start content-->
       <main class="authentication-content">
        <div class="container-fluid">
          <div class="authentication-card">
            <div class="card shadow rounded-5 overflow-hidden">
              <div class="row g-0">
                <div class="col-lg-6 d-flex align-items-salon justify-content-salon border-end">
                  <img src="https://img.freepik.com/free-vector/secure-data-concept-illustration_114360-2510.jpg?w=740&t=st=1662791352~exp=1662791952~hmac=d90f717a99823008ce52a92f59fc382488f46baa82e2bfb150908a693efadd4b" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6">
                  <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title">همکار گرامی</h5>
                    <p class="card-text mb-5">از طریق فرم ذیل می توانید کلمه عبور فعلی خود را تغییر دهید.</p>
                    <form class="form-body">
                        <div class="row g-3">
                          <div class="col-12">
                            <div class="ms-auto position-relative">
                              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                              <input type="password" class="form-control radius-30 ps-5" id="inputPassword" placeholder="کلمه عبور جدید">
                            </div>
                          </div>
                          <div class="col-12">
                            <label for="inputConfirmPassword" class="form-label">رمز عبور را تایید کنید</label>
                            <div class="ms-auto position-relative">
                              <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-lock-fill"></i></div>
                              <input type="password" class="form-control radius-30 ps-5" id="inputConfirmPassword" placeholder="تکرار کلمه عبور">
                            </div>
                          </div>
                          <div class="col-12">
                            <div class="d-grid gap-3">
                              <button type="submit" class="btn btn-warning radius-30">رمز عبور را تغییر دهید</button>
							  <button type="submit" class="btn btn-light radius-30">بازگشت به صفحه ورود</button>
                            </div>
                          </div>
                        </div>
                    </form>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </main>
        
       <!--end page main-->

  </div>
  <!--end wrapper-->


  <!--plugins-->
  <script src="/panel/assets/js/jquery.min.js"></script>
  <script src="/panel/assets/js/pace.min.js"></script>


</body>

</html>