<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--plugins-->
    <link href="/panel/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">
    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>
    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>وضعیت سرویس های ابر</title>
</head>

<body>

<script th:if="${success}">
    document.addEventListener('DOMContentLoaded', function () {
        pos5_success_noti();
    });
</script>

<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">ابر</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">سرویس های ابری</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <hr/>

        <div class="card" align="center">
            <div class="card-body">

                <div class="d-flex align-items-center"></div>

                <div class="card-body">

                    <div class="my-3 border-top"></div>
                    <div class="accordion" id="accordionExample">

                        <div sec:authorize="hasAnyAuthority('ADMIN', 'SUPERVISOR', 'MANAGER')"
                             class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    سرویس های ابری (در حال توسعه)
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <strong>آمار داشبوردهای مانیتورینگ ابری</strong>
                                    <div class="border p-3 rounded">


                                    </div>
                                </div>
                            </div>
                        </div>

                        <div sec:authorize="hasAnyAuthority('ADMIN')" class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    ثبت اطلاعات استوریج زس (ایتا)
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="border p-3 rounded">


                                        <label th:if="${not noData}" class="for-check">آخرین بروزرسانی: </label>
                                        <data th:if="${not noData}" type="number" value="" dir="ltr"
                                              th:text="${currentCeph.persianDateTime}" disabled="disabled"
                                              required="required"/>


                                        <label th:if="${not noData}" class="for-check">حجم کل: </label>
                                        <data th:if="${not noData}" type="number" value="" dir="ltr"
                                              th:text="${currentCeph.capacity}" disabled="disabled"
                                              required="required"/>

                                        <label th:if="${not noData}" class="for-check">حجم مصرفی: </label>
                                        <data th:if="${not noData}" type="number" value="" dir="ltr"
                                              th:text="${currentUsage}" disabled="disabled"
                                              required="required"/>
                                        <br>
                                        <hr/>

                                        <form id="form" class="was-validated" th:action="@{/cloud/submitManualData}"
                                              th:object="${manualData}" method="Post"
                                              onSubmit="document.getElementById('submit2').disabled=true;">

                                            <div class="form-group">
                                                <label class="for-check">حجم کل استوریج</label>
                                                <input type="number" step="0.01" value="" dir="ltr"
                                                       th:field="*{capacity}"
                                                       required="required">
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <label class="for-check">حجم مصرفی</label>
                                                <input type="number" step="0.1" dir="ltr"
                                                       th:field="*{used}"
                                                       required="required">
                                            </div>

                                            <br>
                                            <div class="col">
                                                <label class="form-label">واحد</label>
                                                <select class="single-select" name="subject" th:field="*{unit}">
                                                    <option th:value="100" disabled="disabled" selected="selected">
                                                        انتخاب
                                                    </option>
                                                    <option th:value="1">TB</option>
                                                    <option th:value="2">PB</option>
                                                </select>
                                            </div>

                                            <br>

                                            <div class="col">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                           id="invalidCheck"
                                                           required="required">
                                                    <label class="form-check-label" for="invalidCheck">از ثبت اطلاعات
                                                        صحیح مطمئن هستم</label>
                                                    <div class="invalid-feedback">لطفا اطلاعات فرم را کنترل کنید</div>
                                                </div>
                                                <hr/>
                                            </div>

                                            <hr/>
                                            <button type="submit" id="submit2" class="btn btn-dark">
                                                ثبت اطلاعات
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End attachment table-->

    </main>
    <!--end page main-->

    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->

<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->


<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

<!--notification js -->
<script src="/panel/assets/plugins/notifications/js/lobibox.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notifications.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notification-custom-script.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/plugins/select2/js/select2.min.js"></script>
<script src="/panel/assets/js/form-select2.js"></script>

<script src="/panel/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/panel/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
<script src="/panel/assets/js/table-datatable.js"></script>
<!--app-->
<script src="/panel/assets/js/app.js"></script>
<script>
    function clsAlphaNoOnly(e) {  // Accept only alpha numerics, no special characters
        var regex = new RegExp("^[\u0600-\u06FF\uFB8A\u067E\u0686\u06AF\u200C\u200F ]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (str === 32) {
            return false;
        }
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    }

    function clsAlphaNoOnly2() {  // Accept only alpha numerics, no special characters
        return clsAlphaNoOnly(this.event); // window.event
    }
</script>
<script th:inline="javascript">
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        if (phoneNumberSyntax(e) === true) {
            document.getElementById('submit').disabled = true;
            form.submit()
        }
    });

    function phoneNumberSyntax(e) {
        const phoneNumber = document.getElementById('phoneNumber').value;
        if (phoneNumber === "" || phoneNumber.length !== 11) {
            alert("شماره تلفن همراه را به درستی وارد نمایید.");
            e.preventDefault();
        } else {
            return true;
        }
    }
</script>
<script th:inline="javascript">
    const secondsLeft = [[${secondsLeft}]];
</script>
<script type="text/javascript" th:src="@{/otp/js/main.js}"></script>
<script>
    function toggleTextBox() {
        const activation = document.getElementById('flexSwitchCheckDefault');
        const role = document.getElementById('role');
        const list = document.getElementById('list');

        if (activation.checked === true) {
            role.style.display = 'block';
            role.hidden = false;
            role.disabled = false;

            list.style.display = 'block';
            list.hidden = false;
            list.disabled = false;
        } else {
            console.log("HERE")
            role.style.display = 'none';
            role.hidden = true;
            role.disabled = true;

            list.style.display = 'none';
            list.hidden = true;
            list.disabled = true;
        }
    }
</script>

</body>

</html>