<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--plugins-->
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>


    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>جزئیات مکان</title>
</head>

<body>


<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">جداول</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">جدول داده</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->
        <h6 class="mb-0 text-uppercase">مشخصات</h6>
        <hr/>
        <div class="card">
            <div class="card-body">
                <table class="table mb-0">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">نوع تجهیز</th>
                        <th scope="col">برند</th>
                        <th scope="col">مدل</th>
                        <th scope="col">شماره سریال</th>
                        <th th:if="${device.deviceCategory.categoryId == 1}" scope="col">فرم فاکتور شاسی سرور</th>
                        <th scope="col">بهره بردار</th>
                        <th scope="col">محل نصب</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${device.deviceCategory.category}"></td>
                        <td th:text="${device.deviceCategory.vendor}"></td>
                        <td th:text="${device.deviceCategory.model}"></td>
                        <td th:text="${device.serialNumber}"></td>
                        <td th:if="${device.deviceCategory.categoryId == 1}"
                            th:text="${device.deviceCategory.factor} + '-' + ${device.deviceCategory.factorSize}"></td>

                        <td>
                            <div class="col">
                                <a th:text="${device.utilizer.name}"
                                   th:href="@{/resource/utilizer/{utilizerId}/detail(utilizerId=${device.utilizer.id})}"
                                   class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom" title="اطلاعات بهره بردار"></a>
                            </div>
                        </td>

                        <td>
                            <div class="col">
                                <a th:text="${device.location.locationCategory.target} + ' ' + ${device.location.name}" th:href="@{/center/location/{locationId}/detail (locationId=${device.location.id})}"
                                   class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom" title="جزئیات محل نصب"></a>
                            </div>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!--Pm table-->
        <h6 class="mb-0 text-uppercase"> Pm های تجهیز</h6>
        <hr/>
        <div sec:authorize="hasAnyAuthority('ADMIN', 'SUPERVISOR', 'MANAGER')" class="col">

            <div class="ui-dialog-buttonpane">
                <a th:href="@{/pm/catalog/device/{deviceId}/form (deviceId=${device.id})}"
                   class="btn btn-outline-success"> تعریف Pm جدید برای این تجهیز
                </a>
            </div>

        </div>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0 table-dark table-striped">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>نوع</th>
                            <th>عنوان Pm</th>
                            <th>جزئیات آخرین اقدام</th>
                            <th>سررسید بعدی</th>
                            <th>کارتابل پیش فرض</th>
                            <th>وضعیت</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="catalog, iter : ${catalogList}">

                            <td th:text="${iter.count}"></td>
                            <td th:text="${catalog.pmInterface.category}"></td>

                            <td>
                                <div class="col">
                                    <a th:text="${catalog.pmInterface.name}"
                                       th:href="@{/pm/catalog/{catalogId}/form (catalogId=${catalog.id})}"
                                       class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="ویرایش Pm روی این مکان"></a>
                                </div>
                            </td>

                            <td th:if="${catalog.history}">
                                <div class="col">
                                    <a th:text="${catalog.persianLastFinishedDate}"
                                       th:href="@{/pm/{pmId}/detailList (pmId=${catalog.lastPmId})}"
                                       class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       th:title="${catalog.persianLastFinishedDayTime}"></a>
                                </div>
                            </td>

                            <td th:if="${not catalog.history}">اقدام نشده</td>

                            <td th:text="${catalog.persianNextDue}"></td>
                            <td th:text="${catalog.defaultPerson.name}"></td>

                            <td class="clock">
                                <span th:if="${not catalog.enabled}" class="badge bg-light-danger text-danger w-100">غیرفعال</span>
                                <span th:if="${catalog.enabled}"
                                      class="badge bg-light-success text-success w-100">فعال</span>
                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <!--Pm table-->

        <!--Event table-->
        <!--Event table-->

        <!--File attachment form -->
        <!--File attachment form -->

        <!--attachment table-->
        <!--End attachment table-->


    </main>
    <!--end page main-->


    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->


<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/panel/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
<script src="/panel/assets/js/table-datatable.js"></script>

<!--app-->
<script src="/panel/assets/js/app.js"></script>

</body>

</html>