<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--plugins-->
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>


    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>جزئیات رخداد</title>
</head>

<body>


<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-hall mb-3">
            <div class="breadcrumb-title pe-3">رخدادها</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="col">
            <div class="card border shadow-none radius-10">
                <div class="card-body">
                    <h6 class="mb-0 text-uppercase">جزئیات</h6>
                    <hr/>

                    <div class="card warning-table bg-warning">
                        <div class="card-body">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col">شناسه رخداد</th>
                                    <th scope="col">دسته بندی</th>
                                    <th scope="col">تاریخ ثبت</th>

                                    <th th:if="${baseEvent.eventCategory.target == 'Device'}" scope="col">سریال تجهیز
                                    </th>

                                    <th th:if="${baseEvent.eventCategory.target == 'Center'}"
                                        scope="col">مرکز
                                    </th>

                                    <th th:if="${baseEvent.eventCategory.target == 'Location'}"
                                        scope="col">نوع مکان
                                    </th>
                                    <th th:if="${baseEvent.eventCategory.target == 'Location'}"
                                        scope="col">نام
                                    </th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td th:text="${baseEvent.id}"/>
                                    <td th:text="${baseEvent.eventCategory.name}"/>
                                    <td th:text="${baseEvent.persianRegisterDate}" data-bs-toggle="tooltip"
                                        data-bs-placement="top"
                                        th:title="${baseEvent.persianRegisterDayTime}" dir="rtl"/>

                                    <td th:if="${baseEvent.eventCategory.id == 3}"
                                        th:text="${deviceUtilizerEvent.device.serialNumber}">
                                        <div class="col">
                                            <a th:href="@{/resource/device/{deviceId}/detail(deviceId=${deviceUtilizerEvent.device.id})}"
                                               class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="جزئیات تجهیز"></a>
                                        </div>
                                    </td>
                                    <td th:if="${baseEvent.eventCategory.id == 4}"
                                        th:text="${deviceMovementEvent.device.serialNumber}">
                                        <div class="col">
                                            <a th:href="@{/resource/device/{deviceId}/detail(deviceId=${deviceMovementEvent.device.id})}"
                                               class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="جزئیات تجهیز"></a>
                                        </div>
                                    </td>
                                    <td th:if="${baseEvent.eventCategory.id == 5}"
                                        th:text="${deviceStatusEvent.device.serialNumber}">
                                        <div class="col">
                                            <a th:href="@{/resource/device/{deviceId}/detail(deviceId=${deviceStatusEvent.device.id})}"
                                               class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="جزئیات تجهیز"></a>
                                        </div>
                                    </td>

                                    <td th:if="${baseEvent.eventCategory.target == 'Center'}"
                                        th:text="${visitEvent.center.name}"/>

                                    <td th:if="${baseEvent.eventCategory.target == 'Location'}"
                                        th:text="${locationStatusEvent.location.locationCategory.target}"/>
                                    <td th:if="${baseEvent.eventCategory.target == 'Location'}"
                                        th:text="${locationStatusEvent.location.name}">
                                        <div class="col">
                                            <a th:href="@{/center/location/{locationId}/detail(locationId=${locationStatusEvent.location.id})}"
                                               class="btn btn-outline-warning px-10 radius-30" data-bs-toggle="tooltip"
                                               data-bs-placement="bottom" title="جزئیات مکان"></a>
                                        </div>
                                    </td>

                                </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <h6 class="mb-0 text-uppercase" align="center">
            <strong>جزئیات ثبت رخداد</strong>
        </h6>
        <hr/>

        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0 table-dark table-striped">
                        <thead>
                        <tr>
                            <th>تاریخ</th>
                            <th>ساعت</th>
                            <th>اقدام کننده</th>
                            <th>توضیحات</th>

                            <th th:if="${baseEvent.eventCategory.id == 3}">بهره بردار قبلی</th>
                            <th th:if="${baseEvent.eventCategory.id == 3}">بهره بردار جدید</th>

                            <th th:if="${baseEvent.eventCategory.id == 4}">مکان قبلی</th>
                            <th th:if="${baseEvent.eventCategory.id == 4}">مکان جدید</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${baseEvent.eventDetail.persianRegisterDate}"/>
                            <td th:text="${baseEvent.eventDetail.persianRegisterDayTime}"/>
                            <td th:text="${baseEvent.eventDetail.persistence.person.name} "/>
                            <td th:text="${baseEvent.eventDetail.description}"/>

                            <td th:if="${baseEvent.eventCategory.id == 3}"
                                th:text="${deviceUtilizerEvent.oldUtilizer.name}"/>
                            <td th:if="${baseEvent.eventCategory.id == 3}"
                                th:text="${deviceUtilizerEvent.newUtilizer.name}"/>

                            <td th:if="${baseEvent.eventCategory.id == 4}" th:text="${deviceMovementEvent.source.name}"
                                data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                th:title="${deviceMovementEvent.source.locationCategory.target}" dir="rtl"/>
                            <td th:if="${baseEvent.eventCategory.id == 4}"
                                th:text="${deviceMovementEvent.destination.name}" data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                th:title="${deviceMovementEvent.destination.locationCategory.target}" dir="rtl"/>

                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div th:if="${baseEvent.eventCategory.id == 2}" class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0 table-dark table-striped">
                        <thead>
                        <tr>
                            <th th:if="${locationStatusEvent.isDoorChanged()}">وضعیت درب و قفل ها</th>
                            <th th:if="${locationStatusEvent.isVentilationChanged()}">شرایط تهویه و دما</th>
                            <th th:if="${locationStatusEvent.isPowerChanged()}">وضعیت برق</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:if="${locationStatusEvent.isDoorChanged()} && ${locationStatusEvent.locationStatus.isDoor()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${locationStatusEvent.isDoorChanged()} && ${not locationStatusEvent.locationStatus.isDoor()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${locationStatusEvent.isVentilationChanged()} && ${locationStatusEvent.locationStatus.isVentilation()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${locationStatusEvent.isVentilationChanged()} && ${not locationStatusEvent.locationStatus.isVentilation()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${locationStatusEvent.isPowerChanged()} && ${locationStatusEvent.locationStatus.isPower()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${locationStatusEvent.isPowerChanged()} && ${not locationStatusEvent.locationStatus.isPower()}"
                                th:text="اعلام رفع خرابی"/>
                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div th:if="${baseEvent.eventCategory.id == 5}" class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table mb-0 table-dark table-striped">
                        <thead>
                        <tr>
                            <th th:if="${deviceStatusEvent.isDualPowerChanged()}">اتصال تجهیز به دو (2) منبع نیرو</th>
                            <th th:if="${deviceStatusEvent.isStsChanged()}">چراغ وضعیت تجهیز (STS یا Power)</th>
                            <th th:if="${deviceStatusEvent.isFanChanged()}">عملکرد فن های تجهیز</th>
                            <th th:if="${deviceStatusEvent.isModuleChanged()}">سلامت ماژول های متصل</th>
                            <th th:if="${deviceStatusEvent.isStorageChanged()}">سلامت استوریج ها (چراغ باکس) HDD و SSD
                            </th>
                            <th th:if="${deviceStatusEvent.isPortChanged()}">اتصال پورت های غیرخالی و برقراری آپ لینک
                                ها
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:if="${deviceStatusEvent.isDualPowerChanged()} && ${deviceStatusEvent.deviceStatus.isDualPower()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${deviceStatusEvent.isDualPowerChanged()} && ${not deviceStatusEvent.deviceStatus.isDualPower()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${deviceStatusEvent.isStsChanged()} && ${deviceStatusEvent.deviceStatus.isSts()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${deviceStatusEvent.isStsChanged()} && ${not deviceStatusEvent.deviceStatus.isSts()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${deviceStatusEvent.isFanChanged()} && ${deviceStatusEvent.deviceStatus.isFan()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${deviceStatusEvent.isFanChanged()} && ${not deviceStatusEvent.deviceStatus.isFan()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${deviceStatusEvent.isModuleChanged()} && ${deviceStatusEvent.deviceStatus.isModule()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${deviceStatusEvent.isModuleChanged()} && ${not deviceStatusEvent.deviceStatus.isModule()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${deviceStatusEvent.isStorageChanged()} && ${deviceStatusEvent.deviceStatus.isStorage()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${deviceStatusEvent.isStorageChanged()} && ${not deviceStatusEvent.deviceStatus.isStorage()}"
                                th:text="اعلام رفع خرابی"/>

                            <td th:if="${deviceStatusEvent.isPortChanged()} && ${deviceStatusEvent.deviceStatus.isPort()}"
                                th:text="اعلام خرابی"/>
                            <td th:if="${deviceStatusEvent.isPortChanged()} && ${not deviceStatusEvent.deviceStatus.isPort()}"
                                th:text="اعلام رفع خرابی"/>

                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>


        <hr/>

        <!--attachment table-->
        <div class="card" align="center" th:replace="~{staticDetailsTemplate :: attachment}"></div>
        <!--End attachment table-->

    </main>
</div>


<!--end page main-->


<!--start overlay-->
<div class="overlay nav-toggle-icon"></div>
<!--end overlay-->

<!--Start Back To Top Button-->
<a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->

<!--start switcher-->
<div class="switcher-body" th:replace="~{base :: switcher}"></div>
<!--end switcher-->

</div>
<!--end wrapper-->

<script src="/panel/assets/js/fileSizeValidation.js"></script>
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/js/app.js"></script>

</body>

</html>