<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head th:fragment="links">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/panel/assets/images/favicon-32x32.png" type="image/png"/>
    <!--plugins-->
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet"/>
    <link href="/panel/assets/css/roboto.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet"/>
    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>
    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>

    <title>سامانه نگهداری و پایش زیرساخت ابر</title>

</head>
<body>


<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <main class="page-content">

        <div class="container py-2">
            <h2 class="font-weight-light text-center text-muted py-3">خوش آمدید</h2>
            <!-- timeline item 1 -->
            <div class="row">
                <!-- timeline item 1 left dot -->
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <h5 class="m-2">
                        <span class="badge rounded-pill bg-success">نیمه اول مرداد</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-end">8</div>
                        <div class="col">مرداد</div>
                    </div>
                </div>
                <!-- timeline item 1 event content -->
                <div class="col py-2" dir="rtl">
                    <div class="card radius-15">
                        <div class="card-body">
                            <div class="float-end text-muted">8 مرداد</div>
                            <p  class="text-opacity-100 text-bg-success" >همکار گرامی با سلام و احترام - در نسخه گذاری این تاریخ امکانات ذیل در دسترس هستند. خواهشمندست بازخوردهای خود را اعلام فرمایید. باتشکر</p>
                            <button class="btn btn-sm btn-outline-success" type="button" data-bs-target="#t2_details" data-bs-toggle="collapse">نمایش جزئیات ▼</button>
                            <div class="collapse border" id="t2_details">
                                <div class="p-md-4 text-space">
                                    <div>ثبت و ویرایش Pm با امکان تخصیص به سالن - رک - اتاق و تجهیز</div>
                                    <div>مشاهده اطلاعات مکان و تجهیزات بر اساس آخرین فایل بروزرسانی</div>
                                    <div>گردش کار وظایف Pm بین همکاران و مدیریت آنها توسط مسئول سالن</div>
                                    <div>آپلود و مدیریت فایل</div>
                                    <div>اطلاعات اولیه بهره برداران</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 2 -->
            <div class="row">
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <h5 class="m-2">
                        <span class="badge rounded-pill bg-success">نیمه اول شهریور</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-end">7</div>
                        <div class="col">شهریور</div>
                    </div>
                </div>
                <div class="col py-2">
                    <div class="card border-primary shadow radius-15">
                        <div class="card-body">
                            <p class="card-text text-bg-success">امکان ثبت انواع رخدادهای قابل وقوع در مرکزداده شامل ثبت و مستندسازی نصب تجهیزات جدید، جابجایی و ... به همراه بروزرسانی خودکار دارایی بهره برداران</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 3 -->
            <div class="row">
                <div class="col-auto text-center flex-column d-none d-sm-flex">
                    <h5 class="m-2">
                        <span class="badge rounded-pill bg-warning">نیمه مهرماه</span>
                    </h5>
                    <div class="row h-50">
                        <div class="col border-end">14</div>
                        <div class="col">مهر</div>
                    </div>
                </div>
                <div class="col py-2">
                    <div class="card border-primary shadow radius-15">
                        <div class="card-body">
                            <p class="card-text text-bg-warning">پنل مجزای تجهیزات</p>
                            <p class="card-text text-bg-warning">پشتیبانی ماژول</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--/row-->
        </div>



    </main>


    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->


<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<!--app-->
<script src="/panel/assets/js/app.js"></script>

</body>

</html>