<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--plugins-->
    <link href="/panel/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">
    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>

    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>ثبت ماژول جدید</title>
</head>

<body>

<script th:if="${exist}">
    document.addEventListener('DOMContentLoaded', function () {
        pos3_warning_noti();
    });
</script>

<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">منابع</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ثبت ماژول</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <hr/>

        <div class="card" align="center">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase" align="center">
                    <strong>ثبت ماژول جدید</strong>
                </h6>
                <hr/>
                <h6 class="card-header py-3 bg-info" align="center">
                    <strong class="mb-0">همکار گرامی، جهت مشاهده و افزودن ماژول به تجهیز ابتدا می بایست اطلاعات آن در
                        فرم ذیل ثبت گردد.</strong>
                </h6>
                <div class="d-flex align-items-center">
                </div>
                <hr/>

                <div class="card-body">

                    <form class="was-validated" th:action="@{/resource/module/register}"
                          th:object="${moduleRegisterForm}"
                          enctype="multipart/form-data" method="POST"
                          onSubmit="document.getElementById('submit').disabled=true;">

                        <div class="mb-3">
                            <label for="dropdown" class="form-label">دسته بندی و نوع را انتخاب کنید. امکان جستجو وجود دارد.</label>
                            <select id="dropdown" name="dropdown" class="single-select" th:field="*{resourceCategoryId}"
                                    required="required" onchange="toggleTextBox()">

                                <option th:each="category, counter : ${moduleCategoryList}"
                                        th:value="${category.id}"
                                        th:text="${counter.count + ') ' + category.classification + ' -> ' + category.category + ' -> ' + category.vendor + ' -> ' + category.value + category.unit + ' -> ' + category.spec}">
                                </option>

                            </select>
                        </div>
                        <br>

                        <div id="location" class="mb-3" hidden="hidden">
                            <label for="loc" class="form-label">اتاقی که این هارد را در آن قرار داده اید انتخاب کنید
                                تا یافتن آن بعدا راحت باشد.</label>
                            <select class="single-select" id="loc" name="loc" th:field="*{locale}" required="required" disabled="disabled">

                                <option th:value="${room1Id}" selected="selected">اتاق 1</option>
                                <option th:value="${room2Id}">اتاق 2 (MeetMeRoom)</option>
                                <option th:value="${room412Id}">اتاق 412</option>
                                <option th:value="${0}">مستقیم روی تجهیز نصب می شود و داخل اتاق نمی رود.</option>

                            </select>
                            <br>
                        </div>

                        <div id="mfg" class="mb-3" hidden="hidden">
                            <label for="month" class="form-label">ماه ساخت هارد - مطابق با اطلاعات برچسب</label>
                            <select id="month" name="month" class="single-select" th:field="*{mfgMonth}"
                                    required="required" onchange="toggleTextBox()" disabled="disabled">
                                <option th:value="${1}">1 - January</option>
                                <option th:value="${2}">2 - February</option>
                                <option th:value="${3}">3 - March</option>
                                <option th:value="${4}">4 - April</option>
                                <option th:value="${5}">5 - May</option>
                                <option th:value="${6}">6 - June</option>
                                <option th:value="${7}">7 - July</option>
                                <option th:value="${8}">8 - August</option>
                                <option th:value="${9}">9 - September</option>
                                <option th:value="${10}">10 - October</option>
                                <option th:value="${11}">11 - November</option>
                                <option th:value="${12}">12 - December</option>
                            </select>

                            <br>

                            <label for="year" class="form-label">سال ساخت هارد - مطابق با اطلاعات برچسب</label>
                            <select id="year" name="year" class="single-select" th:field="*{mfgYear}"
                                    required="required" onchange="toggleTextBox()" disabled="disabled">
                                <option th:value="${2024}">2024</option>
                                <option th:value="${2023}">2023</option>
                                <option th:value="${2022}">2022</option>
                                <option th:value="${2021}">2021</option>
                                <option th:value="${2020}">2020</option>
                                <option th:value="${2019}">2019</option>
                                <option th:value="${2018}">2018</option>
                                <option th:value="${2017}">2017</option>
                                <option th:value="${2016}">2016</option>
                                <option th:value="${2015}">2015</option>
                            </select>
                            <br>
                        </div>


                        <div id="serialNumber" class="mb-3" hidden="hidden">
                            <label for="sn" class="form-check">برای مدل انتخابی، ثبت شماره سریال الزامی است.</label>
                            <input type="text" id="sn" name="sn" class="form-control" maxlength="40"
                                   required="required" dir="ltr" placeholder="SerialNumber"
                                   onkeypress="clsAlphaNoOnly2()" onpaste="return false;"
                                   oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);"
                                   th:field="*{serialNumber}" disabled="disabled">
                            <br>
                        </div>

                        <div id="quantity" class="mb-sm-5">
                            <label for="qty" class="form-check">چندتا از مدل انتخاب شده را تحویل گرفته اید؟ (حداکثر 300)</label>
                            <input type="number" min="1" max="300" id="qty" name="qty" class="form-control"
                                   required="required" th:field="*{qty}" dir="ltr">
                            <br>
                        </div>

                        <div th:if="${exist}">
                            <h6 class="mb-0 text-uppercase" align="center">
                                <strong class="mb-0 text-bg-warning">شماره سریال تکراری است.</strong>
                            </h6>
                            <br>
                        </div>

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="invalidCheck"
                                       required="required">
                                <label class="form-check-label" for="invalidCheck">از ثبت اطلاعات صحیح مطمئن هستم.</label>
                                <div class="invalid-feedback">لطفا اطلاعات فرم را کنترل کنید.</div>
                            </div>
                            <hr/>
                        </div>

                        <div class="col">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleWarningModal">ثبت ماژول جدید
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleWarningModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog">
                                    <div class="modal-content text-bg-primary">
                                        <div class="modal-header border-dark">
                                            <h5 class="modal-title text-dark">همکار گرامی</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-dark">
                                            <p>پس از تایید، موجودی ماژول در مخزن بروز می گردد.</p>
                                        </div>
                                        <div class="modal-footer border-dark">
                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">بستن
                                            </button>
                                            <button type="submit" id="submit" class="btn btn-dark">تایید</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </form>

                </div>
            </div>
        </div>
        <!--End attachment table-->

    </main>
    <!--end page main-->

    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->

<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<!--notification js -->
<script src="/panel/assets/plugins/notifications/js/lobibox.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notifications.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notification-custom-script.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/plugins/select2/js/select2.min.js"></script>
<script src="/panel/assets/js/form-select2.js"></script>
<script src="/panel/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/panel/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
<script src="/panel/assets/js/table-datatable.js"></script>
<!--app-->
<script src="/panel/assets/js/app.js"></script>
<script>
    function clsAlphaNoOnly(e) {  // Accept only alpha numerics, no special characters
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        if (str === 32) {
            return false;
        }
        if (regex.test(str)) {
            return true;
        }
        e.preventDefault();
        return false;
    }

    function clsAlphaNoOnly2() {  // Accept only alpha numerics, no special characters
        return clsAlphaNoOnly(this.event); // window.event
    }
</script>
<script>
    function toggleTextBox() {
        const dropdown = document.getElementById('dropdown');

        const serialNumber = document.getElementById('serialNumber');
        const SN = document.getElementById('sn');

        const quantity = document.getElementById('quantity');
        const qty = document.getElementById('qty');

        const location = document.getElementById('location');
        const loc = document.getElementById('loc');

        const mfg = document.getElementById('mfg');
        const month = document.getElementById('month');
        const year = document.getElementById('year');


        if (dropdown.value >= 1047 && dropdown.value <= 1075) {
            serialNumber.style.display = 'block';
            location.style.display = 'block';
            mfg.style.display = 'block';

            SN.disabled = false;
            SN.hidden = false;
            serialNumber.hidden = false;
            loc.disabled = false;
            loc.hidden = false;
            location.hidden = false;
            mfg.hidden = false;
            month.disabled = false;
            year.disabled = false;

            qty.disabled = true;
            qty.hidden = true;
            quantity.hidden = true;

        } else {
            serialNumber.style.display = 'none';
            location.style.display = 'none';

            SN.disabled = true;
            SN.hidden = true;
            serialNumber.hidden = true;
            loc.disabled = true;
            loc.hidden = true;
            location.hidden = true;
            mfg.hidden = true;
            month.disabled = true;
            year.disabled = true;

            qty.disabled = false;
            qty.hidden = false;
            quantity.hidden = false;
        }
    }
</script>

</body>

</html>