<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="CodeHim">
    <title> احراز هویت با تیک گرام </title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/otp/css/style.css">
    <link rel="stylesheet" href="/otp/css/style2.css">
    <link rel="stylesheet" href="/otp/css/bootstrap.min.css">
<body>

<!--$%adsense%$-->
<main class="cd__main">
    <!-- Start DEMO HTML (Use the following code into your project)-->
    <body class="container-fluid bg-body-tertiary d-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
            <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                <div class="card-body p-5 text-center">
                    <h4>احراز هویت تلفن همراه</h4>
                    <p>همکاری گرامی، لطفا کد ارسالی به حساب تیک گرام خود را وارد نمایید.</p>

                    <form action="/fad">
                        <div class="otp-field mb-4" dir="ltr">
                            <input type="number"/>
                            <input type="number" disabled/>
                            <input type="number" disabled/>
                            <input type="number" disabled/>
                            <input type="number" disabled/>
                            <input type="number" disabled/>
                        </div>

                        <button type="submit" class="btn btn-primary mb-3">
                            بررسی
                        </button>
                    </form>
                    <div class="text-center mt-5">
                        <span class="d-block mobile-text" id="countdown"></span>
                        <a href="/login/otp/verify" class="d-block mobile-text" id="resend"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </body>
    <!-- END EDMO HTML (Happy Coding!)-->
</main>

<!-- Script JS -->
<script src="/otp/js/script.js"></script>
<script src="/otp/js/main.js"></script>
<!--$%analytics%$-->
</body>
</html>