<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> احراز هویت با تیک گرام </title>
    <!-- Style CSS -->
    <link rel="stylesheet" href="/otp/css/style.css">
    <link rel="stylesheet" href="/otp/css/style2.css">
    <link rel="stylesheet" href="/otp/css/bootstrap.min.css">
<body class="img js-fullheight" style="background-image: url(/login/images/bg.jpg);">

<!--$%adsense%$-->
<main class="cd__main">
    <!-- Start DEMO HTML (Use the following code into your project)-->
    <div class="container-fluid bg-body-tertiary d-block">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
                <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
                    <div class="card-body p-5 text-center">
                        <h4></h4>
                        <p dir="rtl">همکار گرامی، لطفا کد ارسالی به حساب تیک گرام خود را وارد نمایید.</p>

                        <div th:if="${invalid}" class="alert-warning" dir="rtl">
                            کد وارد شده اشتباه است.
                        </div>

                        <form id="form" class="otp-form" th:action="@{/login}" method="Post">
                            <input class="otp-field" type="text" name="opt-field[]" maxlength=1>
                            <input class="otp-field" type="text" name="opt-field[]" maxlength=1>
                            <input class="otp-field" type="text" name="opt-field[]" maxlength=1>
                            <input class="otp-field" type="text" name="opt-field[]" maxlength=1>
                            <input class="otp-field" type="text" name="opt-field[]" maxlength=1>
                            <input class="otp-field" type="text" name="opt-field[]" maxlength=1>

                            <!-- Store OTP Value -->
                            <input type="hidden" th:value="${otpUid}" name="username"/>
                            <input type="hidden" id="userOTP" class="otp-value" name="password"/>
                            <div class="d-grid mt-4">
                                <button onclick="OTPVerifyFn()" class="btn btn-primary" id="submit" type="submit">
                                    بررسی
                                </button>
                            </div>
                        </form>

                        <div class="text-bg-info mt-5">
                            <span class="d-block mobile-text" id="countdown"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<script th:src="@{/otp/js/jquery.min.js}"></script>
<script th:src="@{/otp/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/otp/js/script.js}"></script>
<script th:inline="javascript">
    const secondsLeft = [[${secondsLeft}]];
</script>
<script type="text/javascript" th:src="@{/otp/js/main.js}"></script>
<script th:inline="javascript">

    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        $(".otp-form *:input[type!=hidden]:first").focus();
        let otp_fields = $(".otp-form .otp-field"),
            otp_value_field = $(".otp-form .otp-value");
        otp_fields
            .on("input", function (e) {
                $(this).val(
                    $(this)
                        .val()
                        .replace(/[^0-9]/g, "")
                );
                let password = "";
                otp_fields.each(function () {
                    let field_value = $(this).val();
                    if (field_value != "") password += field_value;
                });
                otp_value_field.val(password);
            })
            .on("keyup", function (e) {
                let key = e.keyCode || e.charCode;
                if (key == 8 || key == 46 || key == 37 || key == 40) {
                    // Backspace or Delete or Left Arrow or Down Arrow
                    $(this).prev().focus();
                } else if (key == 38 || key == 39 || $(this).val() != "") {
                    // Right Arrow or Top Arrow or Value not empty
                    $(this).next().focus();
                }
            })
            .on("paste", function (e) {
                let paste_data = e.originalEvent.clipboardData.getData("text");
                let paste_data_splitted = paste_data.split("");
                $.each(paste_data_splitted, function (index, value) {
                    otp_fields.eq(index).val(value);
                });
            });

        if (OTPVerifyFn(e) === true) {
            document.getElementById('submit').disabled = true;
            form.submit();
        }
    });

    function OTPVerifyFn(e) {
        const userOtp = document.getElementById('userOTP').value;
        if (userOtp === "" || userOtp.length < 6) {
            alert("کد ورود یک عدد ۶ رقمی است.");
            e.preventDefault();
        } else {
            return true;
        }
    }
</script>
<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/popper.js"></script>
<script src="/login/js/bootstrap.min.js"></script>
<script src="/login/js/main.js"></script>

</body>
</html>