<!doctype html>
<html lang="fa" dir="auto" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>شرکت ارتباطات زیرساخت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link href="/login/css/style.css" rel="stylesheet">
    <link href="/panel/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet"/>

</head>

<body class="img js-fullheight" style="background-image: url(/login/images/bg.jpg);">
<script>
    setInterval(showTime, 1000);

    function showTime() {
        let time = new Date();
        let hour =
            time.getHours();
        let min =
            time.getMinutes();
        let sec =
            time.getSeconds();

        hour =
            hour < 10
                ? "0" + hour
                : hour;
        min =
            min < 10
                ? "0" + min
                : min;
        sec =
            sec < 10
                ? "0" + sec
                : sec;

        document.getElementById(
            "clock"
        ).innerHTML =
            hour +
            ":" +
            min +
            ":" +
            sec;
    }

    showTime();
</script>
<script th:if="${error}">
    document.addEventListener('DOMContentLoaded', function () {
        pos3_formCaptchaWarning();
    });
</script>

<section class="ftco-section">

    <img src="/login/images/TIC%20Logo7.png" alt="TIC.IR">
    <h6>
        <strong class="text-justify text-light">اداره کل خدمات و فناوری های نوین</strong>
    </h6>
    <br>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">

                <h4 class="heading-section">
                    <strong>سامانه مدیریت اطلاعات زیرساخت ابر</strong>
                </h4>

                <h6>
                    <span class="text-sm-center alert-success" th:text="${date}"></span>
                </h6>
                <h6>
                    <span class="text-sm-center alert-success" id="clock"></span>
                </h6>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                    <form id="form" class="was-validated" th:action="@{/login/otp}" th:object="${otpRequest}"
                          method="Post" onSubmit="document.getElementById('submit').disabled=true;">

                        <div th:if="${logout}" class="alert-success">
                            خروج از سیستم انجام شد.
                        </div>

                        <div th:if="${notFound}" class="alert-warning">
                            شماره وارد شده در لیست کاربران این سامانه یافت نشد.
                        </div>

                        <br>

                        <div class="form-group">
                            <input type="number" id="phoneNumber" size="11" dir="ltr" th:field="*{address}"
                                   name="username" class="form-control" placeholder="Ticgram Phone Number"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <input type="text" th:field="*{challenge}" class="form-group" disabled="disabled">
                            <input type="number" th:field="*{providedAnswer}" required="required" value="" dir="ltr">
                        </div>

                        <input type="hidden" name="index" th:value="${index}"/>


                        <div class="form-group">
                            <button type="submit" id="submit" class="form-control btn btn-primary submit px-3">بررسی
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

    <h6>
        <span class="bg-primary" th:text="${'IP Address: '   + remoteAddress}"></span>
    </h6>
</section>

</body>


<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/popper.js"></script>
<script src="/login/js/bootstrap.min.js"></script>
<script src="/login/js/main.js"></script>
<script th:inline="javascript">
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        if (phoneNumberSyntax(e) === true) {
            form.submit()
        }
    });

    function phoneNumberSyntax(e) {
        const phoneNumber = document.getElementById('phoneNumber').value;
        if (phoneNumber === "" || phoneNumber.length !== 11) {
            alert("شماره تلفن همراه را به درستی وارد نمایید.");
            e.preventDefault();
        } else {
            return true;
        }
    }
</script>
<script src="/panel/assets/plugins/notifications/js/lobibox.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notifications.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notification-custom-script.js"></script>
</body>
</html>

