<!doctype html>
<html lang="fa" dir="auto" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>شرکت ارتباطات زیرساخت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <link href="/login/css/style.css" rel="stylesheet">

</head>

<body class="img js-fullheight" style="background-image: url(/login/images/bg.jpg);">

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">
                    <strong>سامانه نگه داری و پایش زیرساخت ابر</strong>
                </h2>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                    <form id="form" class="signin-form" th:action="@{/login/otp}" th:object="${otpRequest}"
                          method="Post" onSubmit="document.getElementById('submit').disabled=true;">

                        <div th:if="${logout}" class="alert-success">
                            خروج از سیستم انجام شد.
                        </div>

                        <div th:if="${notFound}" class="alert-warning">
                            شماره وارد شده در لیست کاربران این سامانه یافت نشد.
                        </div>
                        <br>

                        <div th:if="${error2}" class="alert-warning">
                            شماره موبایل را به درستی وارد نمایید.
                        </div>

                        <div class="form-group">
                            <input type="number" id="phoneNumber" size="11" dir="ltr" th:field="*{address}"
                                   name="username" class="form-control" placeholder="Ticgram Phone Number"
                                   required="required">
                        </div>

                        <div class="form-group">
                            <button type="submit" id="submit" class="form-control btn btn-primary submit px-3">بررسی</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/popper.js"></script>
<script src="/login/js/bootstrap.min.js"></script>
<script src="/login/js/main.js"></script>

<script th:inline="javascript">
    const form = document.getElementById('form');
    form.addEventListener('submit', (e) => {
        if (phoneNumberSyntax(e) === true) {
            form.submit()
        }
    });
    function phoneNumberSyntax(e) {
        const phoneNumber = document.getElementById('phoneNumber').value;
        if (phoneNumber === "" || phoneNumber.length !== 11) {
            alert("شماره تلفن همراه را به درستی وارد نمایید.");
            e.preventDefault();
        } else {
            return true;
        }
    }
</script>

</body>
</html>

