<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--plugins-->
    <link href="/panel/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">
    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>
    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>تاریخچه وظیفه</title>
</head>

<body>

<script th:if="${updated}">
    document.addEventListener('DOMContentLoaded', function () {
        pos5_success_noti();
    });
</script>

<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-hall mb-3">
            <div class="breadcrumb-title pe-3">وظایف</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">گردش کار Pm</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="col">
            <div class="card border shadow-none radius-10">
                <div class="card-body">

                    <h6 class="mb-0 text-uppercase" align="center">
                        <strong>وضعیت PM</strong>
                    </h6>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col">شناسه وظیفه</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">سررسید</th>
                                <th scope="col">تاخیر</th>
                                <th th:if="${pm.active}" scope="col">کارتابل فعلی</th>
                                <th th:unless="${pm.active}" scope="col">تاریخ اتمام</th>

                                <th th:if="${pmInterface.categoryId == 1}" scope="col">نام مکان</th>
                                <th th:if="${pmInterface.categoryId == 1 && locationPmCatalog.location.locationCategory.categoryId == 2}"
                                    scope="col">سالن
                                </th>
                                <th th:if="${pmInterface.categoryId == 2}" scope="col">نوع و مدل تجهیز</th>
                                <th th:if="${pmInterface.categoryId == 2}" scope="col">شماره سریال</th>
                                <th th:if="${pmInterface.categoryId == 2}" scope="col">مکان نصب</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td th:text="${pm.id}"/>
                                <td th:text="${pm.pmInterfaceCatalog.pmInterface.category}"/>
                                <td th:text="${pm.pmInterfaceCatalog.pmInterface.title}"/>
                                <td th:text="${pm.persianDueDate}"/>
                                <td class="clock">
                                <span th:if="${pm.delay} > 0" th:text="${pm.delay}"
                                      class="text-bg-danger"></span>
                                    <span th:if="${pm.delay} == 0"
                                          class="text-bg-success">ندارد</span>
                                </td>
                                <td th:if="${pm.active}" class="text-bg-warning" th:text="${pm.activePersonName}"/>
                                <td th:unless="${pm.active}" class="text-bg-success" th:text="${pm.persianFinishedDate}" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    th:title="${pm.persianFinishedDayTime}" dir="rtl"/>

                                <td th:if="${pmInterface.categoryId == 1}">
                                    <div class="col">
                                        <a th:text="${locationPmCatalog.location.locationCategory.category + ' ' + locationPmCatalog.location.name}"
                                           th:href="@{/center/location/{locationId}/detail (locationId=${locationPmCatalog.location.id})}"
                                           class="btn btn-outline-info px-10 radius-30" data-bs-toggle="tooltip"
                                           data-bs-placement="bottom" title="جزئیات مکان"></a>
                                    </div>
                                </td>

                                <td th:if="${pmInterface.categoryId == 1 && locationPmCatalog.location.locationCategory.categoryId == 2}" th:text="${rack.hall.name + ' - ' + rack.center.name}"></td>

                                <td th:if="${pmInterface.categoryId == 2}" th:text="${devicePmCatalog.device.deviceCategory.category + ' ' + devicePmCatalog.device.deviceCategory.model}"></td>
                                <td th:if="${pmInterface.categoryId == 2}">
                                    <div class="col">
                                        <a th:text="${devicePmCatalog.device.serialNumber}"
                                           th:href="@{/resource/device/{deviceId}/detail (deviceId=${devicePmCatalog.device.id})}"
                                           class="btn btn-outline-secondary px-10 radius-30" data-bs-toggle="tooltip"
                                           data-bs-placement="bottom" title="جزئیات تجهیز"></a>
                                    </div>
                                </td>
                                <td th:if="${pmInterface.categoryId == 2}" th:text="${devicePmCatalog.device.location.locationCategory.category + ' ' + devicePmCatalog.device.location.name}"></td>

                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        <div th:if="${not pm.active}" class="col">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <p class="card-text">وظیفه قبلا انجام شده است.</p>
                </div>
            </div>
        </div>

        <div th:if="${pm.active} AND ${permission}" class="col">
            <div class="card-body">
                <a th:href="@{/pm/{pmId}/form (pmId=${pm.id})}" class="btn-outline-warning btn-danger">بروزرسانی وظیفه
                    برای کارتابل فعلی و همچنین مسئول مدیریت وظایف امکان پذیر است. جهت بروزرسانی کلیک کنید.</a>
            </div>
        </div>

        <hr/>

        <div class="col">
            <div th:if="${pm.active} AND ${not permission}" class="card bg-warning text-dark">
                <div class="card-body">
                    <p class="card-text">وظیفه در کارتابل دیگر همکاران می باشد.</p>
                </div>
            </div>
        </div>

        <div class="card-body">

            <h6 class="mb-0 text-uppercase" align="center">
                <strong>گردش کار</strong>
            </h6>
            <br>
            <div class="table-responsive">
                <table class="table mb-0 table-hover">
                    <thead>
                    <tr>
                        <th>ردیف</th>
                        <th>زمان انتساب گردش کار</th>
                        <th>زمان اتمام گردش کار</th>
                        <th>کارتابل</th>
                        <th>توضیحات</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${pmInterface.isGeneralPm()}" th:each="detail, iter : ${pmDetailList}">

                        <td th:text="${iter.count}"></td>

                        <td th:text="${detail.persianRegisterDate}" data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            th:title="${detail.persianRegisterDayTime}"></td>

                        <td th:if="${detail.active}">اقدام نشده</td>

                        <td th:unless="${detail.active}" th:title="${detail.persianFinishedDayTime}"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            th:text="${detail.persianFinishedDate}"></td>

                        <td th:text="${detail.persistence.person.name}"></td>
                        <td th:text="${detail.description}"></td>

                    </tr>

                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <br>

        <!--attachment table-->
        <div th:if="${!metadataList.isEmpty()}" class="card" align="center">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase" align="center">
                    <strong>لیست پیوست</strong>
                </h6>
                <br>
                    <table class="table mb-0">
                        <thead class="table-dark">
                        <tr>
                            <th>ردیف</th>
                            <th>فایل</th>
                            <th>بارگذاری توسط</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="metadata, iter : ${metadataList}">

                            <td th:text="${iter.count}"></td>

                            <td th:switch="${metadata.type}">
                                <div th:case="'application/pdf'" class="d-flex align-items-center">
                                    <div><i class='bx bxs-file-pdf me-2 font-24 text-danger'></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-danger" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'application/vnd.openxmlformats-officedocument.presentationml.presentation'"
                                     class="d-flex align-items-center">
                                    <div><i class='bx bxs-file-plus me-2 font-24 text-danger'></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-danger" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                     class="d-flex align-items-center">
                                    <div><i class='bx bxs-file-doc me-2 font-24 text-success'></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-success" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'application/vnd.ms-excel'"
                                     class="d-flex align-items-center">
                                    <div><i class='bx bxs-file-doc me-2 font-24 text-success'></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-success" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'application/vnd.openxmlformats-officedocument.wordprocessingml.document'"
                                     class="d-flex align-items-center">
                                    <div><i class='bx bxs-file me-2 font-24 text-primary'></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-primary" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'application/msword'"
                                     class="d-flex align-items-center">
                                    <div><i class='bx bxs-file me-2 font-24 text-primary'></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-primary" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'image/png'"
                                     class="d-flex align-items-center">
                                    <div class="fs-6 bxs-file-image"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-warning" th:text="${metadata.name}"></a>
                                </div>
                                <div th:case="'image/jpeg'"
                                     class="d-flex align-items-center">
                                    <div class="fs-6 bxs-file-image"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-warning" th:text="${metadata.name}"></a>
                                </div>
                                <div th:case="'image/jpg'"
                                     class="d-flex align-items-center">
                                    <div class="fs-6 bxs-file-image"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-warning" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'text/csv'"
                                     class="d-flex align-items-center">
                                    <div class="bx bxs-file-txt"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-secondary" th:text="${metadata.name}"></a>
                                </div>
                                <div th:case="'text/plain'"
                                     class="d-flex align-items-center">
                                    <div class="bx bxs-file-txt"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-secondary" th:text="${metadata.name}"></a>
                                </div>
                                <div th:case="'text'"
                                     class="d-flex align-items-center">
                                    <div class="bx bxs-file-txt"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-secondary" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'text/html'" class="d-flex align-items-center">
                                    <div class="bx bxs-file-html"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-info" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="'application/x-zip-compressed'"
                                     class="d-flex align-items-center">
                                    <div class="bx bxs-file-archive"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-dark" th:text="${metadata.name}"></a>
                                </div>

                                <div th:case="*"
                                     class="d-flex align-items-center">
                                    <div class="bx bxs-file-archive"><i class="bi bi-images"></i></div>
                                    <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                                       class="font-weight-bold text-bg-dark" th:text="${metadata.name}"></a>
                                </div>
                            </td>

                            <td th:text="${metadata.persistence.person.name}"/>

                        </tbody>
                    </table>

            </div>
        </div>
        <!--End attachment table-->

    </main>
    <!--end page main-->

    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->


<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/panel/assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>

<script src="/panel/assets/plugins/notifications/js/lobibox.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notifications.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notification-custom-script.js"></script>

<script src="/panel/assets/js/table-datatable.js"></script>

<!--app-->
<script src="/panel/assets/js/app.js"></script>

</body>

</html>