<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/panel/assets/images/favicon-32x32.png" type="image/png" />
  <!--plugins-->
  <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
  <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
  <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet" />
  <link href="/panel/assets/css/style.css" rel="stylesheet" />
  <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

  <!-- loader-->
	<link href="/panel/assets/css/pace.min.css" rel="stylesheet" />


  <!--Theme Styles-->
  <link href="/panel/assets/css/dark-theme.css" rel="stylesheet" />
  <link href="/panel/assets/css/light-theme.css" rel="stylesheet" />
  <link href="/panel/assets/css/semi-dark.css" rel="stylesheet" />
  <link href="/panel/assets/css/header-colors.css" rel="stylesheet" />
  <link href="/panel/assets/css/clock.css" rel="stylesheet">

  <title>ویرایش وظیفه</title>
</head>

<body>


  <!--start wrapper-->
  <div class="wrapper">
    <!--start top header-->
      <header th:replace="~{base :: header}"></header>
     <!--end top header-->

       <!--start sidebar -->
      <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
       <!--end sidebar -->

       <!--start content-->
          <main class="page-content">
            <!--breadcrumb-->
            <div class="page-breadcrumb d-none d-sm-flex align-items-hall mb-3">
              <div class="breadcrumb-title pe-3">وظایف</div>
              <div class="ps-3">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">ویرایش PM</li>
                  </ol>
                </nav>
              </div>

            </div>
            <!--end breadcrumb-->
            <div class="col">
              <div class="card border shadow-none radius-10">
                <div class="card-body">
                  <div class="d-flex align-items-hall gap-3">
                    <div class="icon-box bg-light-success border-0">
                      <i class="lni lni-chevron-left"></i>
                    </div>
                    <div class="info">
                      <h6 class="mb-2" ><strong th:text=" 'PM: ' + ${pmEdit.name}"></strong></h6>
                      <a class="mb-1" th:href="@{/pm(id=${statusId})}" th:text=" 'تعداد وظایف: ' + ${taskSize}"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="row">
                 <div class="col-lg-8 mx-auto">
                  <div class="card">
                    <div class="card-header py-3 bg-transparent" align="hall">
                       <h5 class="mb-0" >فرم ویرایش PM</h5>
                      </div>
                    <div class="card-body">
                      <div class="border p-3 rounded">

                      <form class="row g-3"  th:action="@{/pm/register}" th:object="${pmForm}" method="POST">

                        <div class="col-12">
                          <label class="form-label">عنوان PM</label>
                          <input type="text" class="form-control" th:field="*{name}" placeholder="عنوان در لیست وظایف نمایش داده می شود">
                        </div>

                        <div class="col-12">
                          <label class="form-label">توضیحات</label>
                          <textarea class="form-control" th:field="*{description}" placeholder="خلاصه ای از اینکه چه اقدامی باید انجام شود" rows="4" cols="4"></textarea>
                        </div>

                        <div class="col-12 col-md-6">
                          <label class="form-label">دوره تکرار</label>
                          <select class="form-select" name="subject" th:field="*{period}" >
                            <option th:value="100" selected="selected" disabled="disabled">انتخاب</option>
                            <option th:value="0">فقط یکبار</option>
                            <option th:value="1">روزانه</option>
                            <option th:value="7">هفتگی</option>
                            <option th:value="10">10 روز</option>
                            <option th:value="15">15 روز</option>
                            <option th:value="20">20 روز</option>
                            <option th:value="30">ماهانه</option>
                            <option th:value="60">2 ماهه</option>
                            <option th:value="90">3 ماهه</option>
                            <option th:value="120">4 ماهه</option>
                            <option th:value="180">6 ماهه</option>
                          </select>
                        </div>

                        <div class="col-12 col-md-6">
                          <label class="form-label">تاریخ اولین انتساب</label>
                          <input type="text" id="dtp1">
                        </div>

                        <div class="col-12">
                          <label class="form-label">پیوست سند - حداکثر 500 کیلوبایت</label>
                          <input class="form-control" type="file" name="attachment" id="attachment">
                        </div>

                        <div class="mb-3">
                          <label class="form-label">انتخاب سالن</label>
                          <select class="multiple-select" multiple="multiple" th:field="*{salonIdList}">
                            <option th:each="hall : ${salonList}" th:value="${hall.id}"
                                    th:text="${hall.name}"></option>
                          </select>
                        </div>

                        <div class="col">
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleWarningModal">ثبت</button>
                          <!-- Modal -->
                          <div class="modal fade" id="exampleWarningModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                              <div class="modal-content bg-warning">
                                <div class="modal-header border-dark">
                                  <h5 class="modal-title text-dark">همکار گرامی، تغییرات این PM در تمامی وظایف مرتبط با آن اعمال می شود.</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-footer border-dark">
                                  <button type="button" class="btn btn-light" data-bs-dismiss="modal">بستن</button>
                                  <button type="submit" class="btn btn-dark">ویرایش PM</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                      </form>
                      </div>
                     </div>
                    </div>
                 </div>
              </div><!--end row-->


            <div class="card" align="center">
              <div class="card-body">
                <h6 class="mb-0 text-uppercase" align="center">
                  <strong>پیوست ها</strong>
                </h6>
                <div class="d-flex align-items-hall">

                </div>
                <div class="card-body">
                  <table class="table mb-0">
                    <thead class="table-dark">
                    <tr>
                      <th>ردیف</th>
                      <th>فایل</th>
                      <th>بارگذاری توسط</th>
                      <th>حذف فایل</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="metadata, iter : ${metaDataList}">
                      <td th:text="${iter.count}"></td>
                      <td>

                        <div th:if="${metadata.type == 'application/pdf'}" class="d-flex align-items-hall">
                          <div><i class='bx bxs-file-pdf me-2 font-24 text-danger'></i></div>
                          <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                             class="font-weight-bold text-danger" th:text="${metadata.name}"></a>
                        </div>

                        <div th:if="${metadata.type == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' || metadata.type == 'application/vnd.ms-excel'}"
                             class="d-flex align-items-hall">
                          <div><i class='bx bxs-file-doc me-2 font-24 text-success'></i></div>
                          <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                             class="font-weight-bold text-success" th:text="${metadata.name}"></a>
                        </div>

                        <div th:if="${metadata.type == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || metadata.type == 'application/msword'}"
                             class="d-flex align-items-hall">
                          <div><i class='bx bxs-file me-2 font-24 text-primary'></i></div>
                          <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                             class="font-weight-bold text-primary" th:text="${metadata.name}"></a>
                        </div>

                        <div class="d-flex align-items-hall gap-2"
                             th:if="${metadata.type == 'image/png' || metadata.type == 'image/jpeg' || metadata.type == 'image/jpg'}">
                          <div class="fs-6 text-black"><i class="bi bi-images"></i></div>
                          <a th:href="@{/document/{metaDataId}/download (metaDataId=${metadata.id})}"
                             class="font-weight-bold text-black" th:text="${metadata.name}"></a>
                        </div>


                      </td>

                      <td th:text="${metadata.persistence.person.name}"/>

                      <td>
                        <form>
                          <a th:if="${metadata.logHistory.person.id == person.id }" th:href="@{/document/{metadataId}/delete (metadataId=${metadata.id})}"
                             class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف فایل"
                             data-bs-original-title="Delete" aria-label="Delete"><i class="bi bi-trash-fill"></i></a>
                        </form>
                      </td>
                    </tr>


                    </tbody>
                  </table>
                </div>
              </div>
            </div>


          </main>
       <!--end page main-->


       <!--start overlay-->
        <div class="overlay nav-toggle-icon"></div>
       <!--end overlay-->

        <!--Start Back To Top Button-->
        <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--End Back To Top Button-->
        
        <!--start switcher-->
      <div class="switcher-body" th:replace="~{base :: switcher}"></div>
       <!--end switcher-->

  </div>
  <!--end wrapper-->


  <!-- Bootstrap bundle JS -->
  <script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
  <!--plugins-->
  <script src="/panel/assets/js/fileSizeValidation.js"></script>
  <script src="/panel/assets/js/jquery.min.js"></script>
  <script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
  <script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
  <script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
  <script src="/panel/assets/js/pace.min.js"></script>
  <!--app-->
  <script src="/panel/assets/js/app.js"></script>
  

</body>

</html>