<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/panel/assets/images/favicon-32x32.png" type="image/png"/>
    <!--plugins-->
    <link href="/panel/assets/plugins/notifications/css/lobibox.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet"/>
    <link href="/panel/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>
    <link href="/panel/md.bootstrappersiandatetimepicker/dist/mds.bs.datetimepicker.style.css" rel="stylesheet"/>


    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>ثبت یا ویرایش یک Pm</title>
</head>

<body>

<script th:if="${error}">
    document.addEventListener('DOMContentLoaded', function() {
        pos3_formCaptchaWarning();
    });
</script>

<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->

        <div class="page-breadcrumb d-none d-sm-flex align-items-hall mb-3">
            <div class="breadcrumb-title pe-3">Pm</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">تعریف / ویرایش Pm</li>
                    </ol>
                </nav>
            </div>

        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-body">

                        <div th:if="${!isUpdate}" class="col" align="right">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleScrollableModal">راهنمای فرم</button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleScrollableModal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">فرم ثبت PM جدید</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label class="text-bg-primary">عنوان Pm: </label>
                                            <p>* عنوان اصلی اینکه این PM چه کاری را به صورت دوره ای انجام می دهد.</p>
                                            <label class="text-bg-primary">دوره تکرار: </label>
                                            <p>* هر چند روز این Pm می بایست در مکان یا تجهیز مدنظر تکرار شود.</p>
                                            <label class="text-bg-primary">دسته بندی</label>
                                            <p>* انتخاب نوع مکان یا نوع تجهیز قابل اجرا برای این Pm</p>
                                            <label class="text-bg-primary">وضعیت فعالسازی:</label>
                                            <p>* در صورت انتخاب؛ Pm در سررسیدها اجرا می شود و می توان مکان یا تجهیزات را به کاتالوگ آن افزود.</p>
                                            <p class="text-bg-danger">* در صورت عدم انتخاب؛ Pm در سررسیدهای بعدی اجرا نمی شود و امکان افزودن تجهیز/ مکان به کاتالوگ آن وجود ندارد. مناسب برای غیرفعال سازی موقت Pm</p>
                                            <label class="text-bg-success">* فایل پیوست شده در این فرم در تمام گردش کارهای این Pm نمایش داده می شود.</label>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h6 th:if="${isUpdate}" class="mb-0 text-uppercase" align="center">
                            <strong>ویرایش PM</strong>
                        </h6>
                        <h6 th:unless="${isUpdate}" class="mb-0 text-uppercase" align="center">
                            <strong>ثبت PM جدید</strong>
                        </h6>
                        <hr/>
                        <h6 th:if="${!isUpdate}" class="mb-0 text-uppercase" align="center">
                            <strong class="mb-0 text-bg-success">خواهشمندست راهنمای فرم را مطالعه نمایید.</strong>
                        </h6>
                        <br>

                        <div class="d-flex align-items-center">
                        </div>
                        <div class="border p-3 rounded">

                            <form class="was-validated" th:action="@{/pm/register}" th:object="${pmInterfaceRegisterForm}"
                                  enctype="multipart/form-data" method="POST" onSubmit="document.getElementById('submit').disabled=true;">

                                <div class="col-12">
                                    <label class="form-label">عنوان Pm</label>
                                    <input required="required" type="text" th:field="*{title}" class="form-control"
                                           placeholder="عنوان در لیست ها نمایش داده می شود">
                                </div>
                                <hr/>

                                <div class="col-12">
                                    <label class="form-label">دوره تکرار</label>
                                    <select class="form-select" name="subject" th:field="*{period}">
                                        <option th:value="100" disabled="disabled" selected="selected">انتخاب</option>
                                        <option th:value="1">روزانه</option>
                                        <option th:value="7">هفتگی</option>
                                        <option th:value="10">10 روز</option>
                                        <option th:value="15">15 روز</option>
                                        <option th:value="20">20 روز</option>
                                        <option th:value="30">30 روز</option>
                                        <option th:value="60">60 روز</option>
                                        <option th:value="90">90 روز</option>
                                        <option th:value="120">120 روز</option>
                                        <option th:value="180">180 روز</option>
                                    </select>
                                </div>
                                <hr/>

                                <div th:if="${not isUpdate}" class="col-12">
                                    <label class="form-label">دسته بندی</label>
                                    <select class="form-select" name="subject" th:field="*{target}">
                                        <option th:value="100" disabled="disabled" selected="selected">انتخاب</option>
                                        <option th:value="1">مکان: هال (سالن)</option>
                                        <option th:value="2">مکان: رک</option>
                                        <option th:value="3">مکان: اتاق - انبار</option>
                                        <option th:value="4">روی هر مکانی قابل تعریف باشد</option>
                                        <option th:value="5">تجهیز: سرور</option>
                                        <option th:value="6">تجهیز: سوئیچ</option>
                                        <option th:value="7">تجهیز: فایروال</option>
                                        <option th:value="8">تجهیز: انکلوژر</option>
                                        <option th:value="9">روی هر تجهیزی قابل تعریف باشد</option>
                                    </select>
                                </div>
                                <br th:if="${!isUpdate}">

                                <h6 th:if="${!isUpdate}" class="mb-sm-5 text-sm-center" align="center">
                                    <strong class="mb-sm-5 text-warning-emphasis">مکان یا نوع تجهیز انتخاب شده برای اجرای این PM بعدا قابل ویرایش نخواهد بود.</strong>
                                </h6>

                                <hr/>

                                <div th:if="${enablementAccess}" class="col-12">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="checked" th:field="*{enabled}">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">وضعیت فعال سازی</label>
                                </div>
                                <hr/>

                                <div th:if="${not enablementAccess}" class="col-12">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked="checked" disabled="disabled">
                                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">فعال - جهت غیر فعالسازی، ابتدا می بایست وظایف فعال این Pm خاتمه یابد.</label>
                                </div>

                                <div class="col-12">
                                    <label class="form-label">توضیحات</label>
                                    <textarea required="required" class="form-control" th:field="*{description}"
                                              placeholder="خلاصه ای از اینکه چه اقدامی باید انجام شود" rows="4"
                                              cols="4"></textarea>
                                </div>
                                <hr/>

                                <div class="col-12">
                                    <label class="form-label">پیوست سند - حداکثر 500 کیلوبایت</label>
                                    <input class="form-control" type="file" name="attachment" id="attachment">
                                </div>
                                <hr/>


                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required="required">
                                        <label class="form-check-label" for="invalidCheck">از ثبت اطلاعات صحیح مطمئن هستم</label>
                                        <div class="invalid-feedback">لطفا اطلاعات فرم را کنترل کنید</div>
                                    </div>
                                    <hr/>
                                </div>

                                <input type="hidden" name="update" th:value="${isUpdate}"/>
                                <input th:if="${not enablementAccess}" type="hidden" name="enabled" th:value="${pmInterface.enabled}"/>
                                <input th:if="${isUpdate}" type="hidden" name="pmInterfaceId" th:value="${pmInterface.id}"/>

                                <div class="col">
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#exampleWarningModal">ثبت
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleWarningModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-dialog-centered">
                                            <div class="modal-content bg-warning">
                                                <div class="modal-header border-dark">
                                                    <h5 class="modal-title text-dark">همکار گرامی،</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body text-dark">
                                                    <p>پس از ثبت می بایست مکان/تجهیز مدنظر را به لیست اجرایی این PM اضافه نمایید. برای این کار به صفحه مکان / تجهیز مربوطه مراجعه کنید.</p>
                                                </div>
                                                <div class="modal-footer border-dark">
                                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                                                        بستن
                                                    </button>
                                                    <button type="submit" id="submit" class="btn btn-dark">ثبت PM</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--end row-->

    </main>
    <!--end page main-->


    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->

<script src="/panel/assets/js/fileSizeValidation.js"></script>
<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>
<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/lobibox.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notifications.min.js"></script>
<script src="/panel/assets/plugins/notifications/js/notification-custom-script.js"></script>

<!--app-->
<script src="/panel/assets/js/app.js"></script>

</body>

</html>