<!DOCTYPE html>
<html lang="fa" dir="ltr" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Static Navigation - SB Admin</title>
        <link href="/dashboard/css/styles.css" rel="stylesheet" />
        <link href="/assignForm/css/main.css" rel="stylesheet" media="all">
        <script src="/dashboard/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Start Bootstrap</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text"  aria-describedby="btnNavbarSearch" />
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">PM List</div>
                            <a class="nav-link" th:href="@{/app/main/mytask}" th:text="${'(' + pending + ')' + ' کارتابل من '}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt" ></i></div>
                            </a>

                            <a class="nav-link" th:href="@{/app/main}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                سالن ها PM وضعیت
                            </a>

                            <a class="nav-link" th:href="@{/app/main/pm/register/form}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                جدید PM تعریف
                            </a>


                            <div class="sb-sidenav-menu-heading">Daily</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                اقدامات روزانه
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/app/main/event/view}" th:text="${'(' + pendingEvents + ')' + ' رخدادها '}"></a>
                                    <a class="nav-link" th:href="@{/app/main/event/register/form}">ثبت رخداد جدید</a>
                                    <s class="nav-link" href="layout-static.html" >ثبت گزارش روزانه (در حال توسعه)</s>
                                </nav>
                            </div>

                            <div class="sb-sidenav-menu-heading">Managers</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                گزارش و نظارت
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <s class="nav-link" href="layout-static.html">گزارش وضعیت سالن ها (در حال توسعه)</s>
                                    <s class="nav-link" href="layout-static.html">گزارش وظایف و عملکرد (در حال توسعه)</s>
                                    <s class="nav-link" href="layout-static.html">نظارت تصویری (در حال توسعه)</s>

                                </nav>
                            </div>


                        </div>

                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small" th:text="${person.name + ' :کاربر '}"></div>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Static Navigation</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Static Navigation</li>
                        </ol>
                        <div class="page-wrapper bg-dark p-t-100 p-b-50">
                            <div class="wrapper wrapper--w900">
                                <div class="card card-6">
                                    <div class="card-heading">
                                        <h2 class="title" dir="rtl">تعریف PM جدید</h2>
                                    </div>

                                    <div class="card-body">
                                        <form  action="#" th:action="@{/app/main/pm/register/form/submit}" th:object="${pmRegister}" method="POST">
                                            <div class="form-row" dir="rtl">
                                                <div class="name">عنوان وظیفه</div>
                                                <div class="name">
                                                    <input class="input--style-6" type="text" th:field="*{name}" required="required">
                                                </div>
                                            </div>

                                            <div class="form-row" dir="rtl">
                                                <div class="name">توضیحات</div>
                                                <div class="value" >
                                                    <div class="input-group" >
                                                        <textarea class="textarea--style-6" th:field="*{description}" dir="rtl" maxlength="1000" required="required" ></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row" dir="rtl">
                                                <div class="name">انتساب به کارتابل</div>
                                                <div class="value" >
                                                    <div class="input-group">
                                                        <div class="rs-select2 js-select-simple select--no-search">
                                                            <select name="subject" th:field="*{personId}" >
                                                                <option th:value="100" disabled="disabled" selected="selected">انتخاب</option>
                                                                <option th:value="1">خودکار</option>
                                                                <option th:each="person : ${personList}" th:value="${person.getId}" th:text="${person.getName}"></option>
                                                            </select>
                                                            <div class="select-dropdown"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row" dir="rtl">
                                                <div class="name">انتخاب سالن</div>
                                                <div class="value" >
                                                    <div class="input-group">
                                                        <div class="rs-select2 js-select-simple select--no-search">
                                                            <select name="subject" th:field="*{centerId}" >
                                                                <option th:value="100" disabled="disabled" selected="selected">انتخاب</option>
                                                                <option th:value="0">تمام سالن ها</option>
                                                                <option th:each="center : ${centerList}" th:value="${center.getId}" th:text="${center.getNamePersian}"></option>
                                                            </select>
                                                            <div class="select-dropdown"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row" dir="rtl">
                                                <div class="name">دوره تکرار</div>
                                                <div class="value" >
                                                    <div class="input-group">
                                                        <div class="rs-select2 js-select-simple select--no-search">
                                                            <select name="subject" th:field="*{period}" >
                                                                <option th:value="100" disabled="disabled" selected="selected">انتخاب</option>
                                                                <option th:value="0">فقط یکبار</option>
                                                                <option th:value="1">روزانه</option>
                                                                <option th:value="7">هفتگی</option>
                                                                <option th:value="30">ماهانه</option>
                                                                <option th:value="90">سه ماهه</option>
                                                                <option th:value="180">شش ماهه</option>
                                                                <option th:value="365">سالانه</option>
                                                            </select>
                                                            <div class="select-dropdown"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-row" dir="rtl">
                                                <div class="name">پیوست</div>
                                                <div class="value">
                                                    <div class="input-group js-input-file">
                                                        <input class="input-file" type="file" name="file_cv" id="file">
                                                        <label class="label--file" for="file">بارگذاری</label>
                                                        <span class="input-file__info">فایلی انتخاب نشده است</span>
                                                    </div>
                                                    <div class="label--desc">حداکثر 10 مگابایت</div>
                                                </div>
                                            </div>
                                            <div class="card-footer" dir="rtl">
                                                <button class="btn btn--radius-2 btn--blue-2" type="submit">ثبت</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="/dashboard/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/dashboard/js/scripts.js"></script>
        <script src="/assignForm/vendor/jquery/jquery.min.js"></script>
        <script src="/assignForm/js/global.js"></script>
    </body>
</html>
