<!doctype html>
<html lang="en" class="semi-dark" dir="rtl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/panel/assets/images/favicon-32x32.png" type="image/png"/>
    <!--plugins-->
    <link href="/panel/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet"/>
    <link href="/panel/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="/panel/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/panel/assets/css/bootstrap-extended.css" rel="stylesheet"/>
    <link href="/panel/assets/css/style.css" rel="stylesheet"/>
    <link href="/panel/assets/css/icons.css" rel="stylesheet">
    <link href="/panel/assets/css/roboto.css" rel="stylesheet">
    <link href="/panel/assets/css/bootstrap-icons.css" rel="stylesheet">

    <!-- loader-->
    <link href="/panel/assets/css/pace.min.css" rel="stylesheet"/>


    <!--Theme Styles-->
    <link href="/panel/assets/css/dark-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/light-theme.css" rel="stylesheet"/>
    <link href="/panel/assets/css/semi-dark.css" rel="stylesheet"/>
    <link href="/panel/assets/css/header-colors.css" rel="stylesheet"/>
    <link href="/panel/assets/css/clock.css" rel="stylesheet">

    <title>بروزرسانی Pm فعال</title>
</head>

<body>


<!--start wrapper-->
<div class="wrapper">
    <!--start top header-->
    <header th:replace="~{base :: header}"></header>
    <!--end top header-->

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true" th:replace="~{base :: sidebar}"></aside>
    <!--end sidebar -->

    <!--start content-->

    <main class="page-content">

        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-hall mb-3">
            <div class="breadcrumb-title pe-3">Pm</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="/"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">بروزرسانی کارتابل</li>
                    </ol>
                </nav>
            </div>

        </div>
        <!--end breadcrumb-->

        <div class="col">
            <div class="card border shadow-none radius-10">
                <div class="card-body">

                    <h6 class="mb-0 text-uppercase" align="center">
                        <strong>وضعیت PM</strong>
                    </h6>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th scope="col">شناسه وظیفه</th>
                                <th scope="col">دسته بندی</th>
                                <th scope="col">عنوان</th>
                                <th scope="col">سررسید</th>
                                <th scope="col">تاخیر</th>
                                <th th:if="${pm.active}" scope="col">کارتابل فعلی</th>
                                <th th:unless="${pm.active}" scope="col">تاریخ اتمام</th>

                                <th th:if="${pmInterface.categoryId == 1}" scope="col">نام مکان</th>
                                <th th:if="${pmInterface.categoryId == 1 && locationPmCatalog.location.locationCategory.categoryId == 2}"
                                    scope="col">سالن
                                </th>
                                <th th:if="${pmInterface.categoryId == 2}" scope="col">نوع و مدل تجهیز</th>
                                <th th:if="${pmInterface.categoryId == 2}" scope="col">شماره سریال</th>
                                <th th:if="${pmInterface.categoryId == 2}" scope="col">مکان نصب</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td th:text="${pm.id}"/>
                                <td th:text="${pm.pmInterfaceCatalog.pmInterface.category}"/>
                                <td th:text="${pm.pmInterfaceCatalog.pmInterface.title}"/>
                                <td th:text="${pm.persianDueDate}"/>
                                <td class="clock">
                                <span th:if="${pm.delay} > 0" th:text="${pm.delay}"
                                      class="text-bg-danger"></span>
                                    <span th:if="${pm.delay} == 0"
                                          class="text-bg-success">ندارد</span>
                                </td>
                                <td th:if="${pm.active}" class="text-bg-warning" th:text="${pm.activePersonName}"/>
                                <td th:unless="${pm.active}" class="text-bg-success" th:text="${pm.persianFinishedDate}"
                                    data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    th:title="${pm.persianFinishedDayTime}" dir="rtl"/>

                                <td th:if="${pmInterface.categoryId == 1}">
                                    <div class="col">
                                        <a th:text="${locationPmCatalog.location.locationCategory.category + ' ' + locationPmCatalog.location.name}"
                                           th:href="@{/center/location/{locationId}/detail (locationId=${locationPmCatalog.location.id})}"
                                           class="btn btn-outline-info px-10 radius-30" data-bs-toggle="tooltip"
                                           data-bs-placement="bottom" title="جزئیات مکان"></a>
                                    </div>
                                </td>

                                <td th:if="${pmInterface.categoryId == 1 && locationPmCatalog.location.locationCategory.categoryId == 2}"
                                    th:text="${rack.hall.name + ' - ' + rack.center.name}"></td>

                                <td th:if="${pmInterface.categoryId == 2}"
                                    th:text="${devicePmCatalog.device.deviceCategory.category + ' ' + devicePmCatalog.device.deviceCategory.model}"></td>
                                <td th:if="${pmInterface.categoryId == 2}">
                                    <div class="col">
                                        <a th:text="${devicePmCatalog.device.serialNumber}"
                                           th:href="@{/resource/device/{deviceId}/detail (deviceId=${devicePmCatalog.device.id})}"
                                           class="btn btn-outline-secondary px-10 radius-30" data-bs-toggle="tooltip"
                                           data-bs-placement="bottom" title="جزئیات تجهیز"></a>
                                    </div>
                                </td>
                                <td th:if="${pmInterface.categoryId == 2}"
                                    th:text="${devicePmCatalog.device.location.locationCategory.category + ' ' + devicePmCatalog.device.location.name}"></td>

                            </tr>

                            </tbody>

                        </table>
                    </div>


                </div>
            </div>
        </div>

        <h6 class="mb-0 text-uppercase" align="center">
            <strong>بروزرسانی وضعیت PM</strong>
        </h6>
        <br>

        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card">

                    <div class="card-body">
                        <div class="col-12 col-lg-8">
                            <div class="card shadow-none bg-light border">
                                <div class="card-body">

                                    <form class="was-validated" th:action="@{/pm/update}"
                                          enctype="multipart/form-data" th:object="${pmUpdateForm}" method="POST"
                                          onSubmit="document.getElementById('submit').disabled=true;">


                                        <div class="col-12">
                                            <label class="form-label">نتیجه بررسی</label>
                                            <textarea class="form-control"
                                                      placeholder="شرح اقدام و توضیحات ضروری. اگر لازم است به مستندات شامل شماره نامه ، مجوز و ... اشاره نمایید. اگر فایلی در میان است آن را پیوست کنید."
                                                      rows="4" cols="4"
                                                      th:field="*{description}" required="required" dir="rtl"
                                                      maxlength="1000"></textarea>
                                        </div>
                                        <br>

                                        <div class="col-12">
                                            <label class="form-label">پیوست سند - حداکثر 500 کیلوبایت</label>
                                            <input class="form-control" type="file" name="attachment"
                                                   id="attachment">
                                        </div>
                                        <br>

                                        <div class="col-12">
                                            <label class="form-label">اتمام / انتساب وظیفه به دیگر همکاران
                                                <select class="single-select" th:field="*{actionType}">
                                                    <option th:value="100" disabled="disabled" selected="selected">
                                                        انتخاب
                                                    </option>
                                                    <option class="text-bg-success" th:value="0">اتمام وظیفه</option>
                                                    <option class="text-bg-warning"
                                                            th:each="person : ${assignPersonList}"
                                                            th:value="${person.id}"
                                                            th:text="${person.name + ' - ' + 'وظایف کارتابل: ' + person.workspaceSize}"></option>
                                                </select>
                                            </label>
                                        </div>

                                        <input type="hidden" name="pmId" th:value="${pm.id}"/>
                                        <input type="hidden" name="ownerUsername" th:value="${pmOwnerUsername}"/>

                                        <div class="col">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#exampleLargeModal">ثبت
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleLargeModal" tabindex="-1"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content bg-warning">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">همکار گرامی</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">لطفا قبل از تایید، از صحت اطلاعات
                                                            ورودی مطمئن شوید. داده ها در آینده ممکن است مورد رجوع و
                                                            استناد قرار گیرند.
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">لغو
                                                            </button>
                                                            <button type="submit" id="submit" class="btn btn-primary">
                                                                بروزرسانی
                                                                وظیفه
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div><!--end row-->

    </main>
    <!--end page main-->


    <!--start overlay-->
    <div class="overlay nav-toggle-icon"></div>
    <!--end overlay-->

    <!--Start Back To Top Button-->
    <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->

    <!--start switcher-->
    <div class="switcher-body" th:replace="~{base :: switcher}"></div>
    <!--end switcher-->

</div>
<!--end wrapper-->

<!-- Bootstrap bundle JS -->
<script src="/panel/assets/js/fileSizeValidation.js"></script>
<script src="/panel/assets/js/bootstrap.bundle.min.js"></script>

<!--plugins-->
<script src="/panel/assets/js/jquery.min.js"></script>
<script src="/panel/assets/plugins/simplebar/js/simplebar.min.js"></script>
<script src="/panel/assets/plugins/metismenu/js/metisMenu.min.js"></script>
<script src="/panel/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
<script src="/panel/assets/js/pace.min.js"></script>
<script src="/panel/assets/plugins/select2/js/select2.min.js"></script>
<script src="/panel/assets/js/form-select2.js"></script>

<!--app-->
<script src="/panel/assets/js/app.js"></script>

</body>

</html>