<!DOCTYPE HTML>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,  white-space: nowrap, shrink-to-fit=yes">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>کارتابل</title>
</head>

<body>

<div class="container">

	<h3 dir="rtl">وظایف در یک نگاه</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/app/taskList}"
	   class="btn btn-primary btn-sm mb-3">
		لیست عملکرد
	</a>


	<table class="table table-bordered table-striped">

		<thead class="thead-dark">
		<tr>

			<th>شناسه</th>
			<th>عنوان</th>
			<th>تاریخ آخرین اقدام</th>
			<th>دوره تکرار(روز)</th>
			<th>سررسید بعدی</th>

		</tr>
		</thead>

		<tbody>
		<tr th:each="status : ${statusList}">
			<td th:text="${status.id}"  /><a th:href="@{/category/edit/{id}(id=${category.idCategory})}">view</a>
			<td th:text="${status.namePersian}" />
			<td th:text="${status.lastSuccessful}" />
			<td th:text="${status.period}" />
			<td th:text="${status.nextDue}" />
		</tr>
		</tbody>
	</table>

</div>

</body>
</html>



