<!DOCTYPE HTML>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,  white-space: nowrap, shrink-to-fit=yes">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>

<div class="container">

	<h3 dir="rtl">وظایف در یک نگاه</h3>
	<hr>

	<!-- Add a button -->
	<a th:href="@{/app/statusList}"
	   class="btn btn-primary btn-sm mb-3">
		وظایف در یک نگاه
	</a>


	<table class="table table-bordered table-striped">

		<thead class="thead-dark">
		<tr>

			<th>ردیف</th>
			<th>شناسه وظیفه</th>
			<th>عنوان</th>
			<th>تاریخ سررسید</th>
			<th>وضعیت</th>
			<th>تاریخ اقدام</th>
			<th>تاخیر (روز)</th>
			<th>مرکز</th>
			<th>کارشناس مربوطه</th>
			<th>توضیحات کارشناس</th>

		</tr>
		</thead>

		<tbody>
		<tr th:each="task : ${taskList}">
			<td th:text="${task.id}" />
			<td th:text="${task.getTaskStatus.getId}" />
			<td th:text="${task.getTaskStatus.getNamePersian}" />
			<td th:text="${task.getDueDatePersian}" />
			<td th:text="${task.getStatus}" />
			<td th:text="${task.getSuccessDatePersian}" />
			<td th:text="${task.getDelay}" />
			<td th:text="${task.getCenter.getNamePersian}" />
			<td th:text="${task.getPerson.getNamePersian}" />
			<td th:text="${task.getDescription}" />

		</tr>
		</tbody>
	</table>

</div>

</body>
</html>



