<!doctype html>
<html lang="fa" dir="rtl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>شرکت ارتباطات زیرساخت</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link th:href="@{/login/css/style.css}" rel="stylesheet">

</head>
<body class="img js-fullheight" style="background-image: url(/login/images/bg.jpg);">
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-salon">
            <div class="col-md-6 text-salon mb-5">
                <h2 class="heading-section">سامانه نگه داری و پایش زیرساخت ابر (آزمایشی)</h2>
            </div>
        </div>

    </div>
</section>

<script th:src="@{/login/js/jquery.min.js}"></script>
<script th:src="@{/login/js/popper.js}"></script>
<script th:src="@{/login/js/bootstrap.min.js}"></script>
<script th:src="@{/login/js/main.js}"></script>

</body>
</html>

